In [1]:
#1
print("Hello")

Hello

In [2]:
#2
print("Hello World")

Hello World

In [3]:
#3
print("Hello\nWorld")

Hello
World

In [4]:
#4
print("'Hello'")

'Hello'

In [5]:
#5
print('"Hello World"')

"Hello"

In [8]:
#6
print('"!@#$%^&*()\'')
# 출력 형식에 필요한 따옴표와 출력할 문자인 따옴표를 구분하기 위하여 \" 또는 \' 를 이용하여 출력할 수 있다.

"!@#$%^&*()'

In [9]:
#7
print('\"C:\\Download\\\'hello\'.py"')
# \도 안전하게 출력하려면 \\를 사용하는 것이 좋다.

"C:\Download\'hello'.py"

In [10]:
#8
print('print(\"Hello\\nWorld\")')

print("Hello\nWorld")

In [11]:
#9
c = input()
print(c)

a
a

In [12]:
#10
n = int(input())
print(n)

10
10

In [13]:
#11
f = float(input())
print(f)

1.414213
1.414213

In [14]:
#12
a = int(input())
b = int(input())
print(a, b)

1
2
1 2

In [15]:
#13
a = str(input())
b = str(input())
print(b)
print(a)

a
b
b
a

In [17]:
#14
a = float(input())
for i in range(3):
    print(a)

2
2.0
2.0
2.0

In [19]:
#15
a, b = map(int, input().split())        # 정수형 변수 2개 입력 받는 예제 
print(a)
print(b)

2 3
2
3

In [21]:
#16
a, b = map(str, input().split())
print(b, a)

a b
b a

In [23]:
#17
a = input()
for i in range(3):
    print(a, end=' ')

computer science
computer science computer science computer science

In [26]:
#18
a, b = map(int, input().split(':'))
print(a, b, sep=':')

3:16
3:16

In [27]:
#19
year, month, day = map(int, input().split('.'))
print(day, month, year, sep='-')

2020.3.4
4-3-2020

In [33]:
#20
a, b = map(str, input().split('-'))
print(a+b)

000907-1121112
0009071121112

In [35]:
a, b = input().split('-')
print(a, b, sep='')
print(type(a))

000907-1121112
0009071121112
<class 'str'>

In [1]:
#21
a = input()
for i in range(len(a)):
    print(a[i])

HELLO
H
E
L
L
O

In [7]:
#22
a = input()
print(a[:2], a[2:4], a[4:])

200304
20 03 04

In [8]:
#23
a, b, c = input().split(':')
print(b)

17:23:57
23

In [9]:
#24
w1, w2 = input().split()
s = w1 + w2
print(s)

hello world
helloworld

In [10]:
#25
a, b = map(int, input().split())
print(a+b)

123 -123
0

In [11]:
#26
a = float(input())
b = float(input())
print(a+b)

0.1
0.9
1.0

In [12]:
#27
a = input()
n = int(a)
print('%x'% n)

255
ff

In [13]:
#28
a = input()
n = int(a)
print('%X'% n)

255
FF

In [16]:
a = input()
n = int(a, 16)
print(n)

ff
255

In [15]:
#29
a = input()
n = int(a, 16)      #입력된 a를 16진수로 인식해 변수 n에 저장
print('%o' % n)     #n에 저장되어있는 값을 8진수(octal) 형태 문자열로 출력

f
17

In [1]:
#30
n = ord(input())
print(n)

A
65

In [6]:
#31
c = int(input())
print(chr(c))

65
A

In [7]:
#32
a = int(input())
print(-a)

100
-100

In [7]:
#33
n = ord(input())
print(chr(n+1))

a
b

In [9]:
#34
a, b = map(int, input().split())
print(a - b)

123 -123
246

In [11]:
#35
a, b = map(float, input().split())
print(a * b)

0.5 2.0
1.0

In [13]:
#36
a, b = input().split()
a = str(a)
b = int(b)
print(a*b)

love 3
lovelovelove

In [15]:
#37
a = int(input())
b = str(input())
print(a*b)

3
I love CS
I love CSI love CSI love CS

In [20]:
#38
a, b = map(int, input().split())
print(a**b)

# python 언어에서는 거듭제곱을 계산하는 연산자(**)를 제공

2 6
64

In [21]:
# 39
a, b = map(float, input().split())
\print(a**b)

4.0 2.0
16.0

In [22]:
#40
a, b = map(int, input().split())
print(a//b)

10 3
3.0

In [1]:
#41
a, b = map(int, input().split())
print(a%b)

10 3
1

In [3]:
#42
a= float(input())
print( format(a, ".2f") )

3.148592
3.15

In [1]:
#43
a, b = map(float, input().split())
print( format(a/b, ".3f"))

10.0 3.0
3.333

In [2]:
#44
a, b = map(int, input().split())
if b != 0:
    print(a+b)
    print(a-b)
    print(a*b)
    print(a//b)
    print(a%b)
    print( format(a/b, ".2f"))

10 3
13
7
30
3
1
3.33

In [3]:
#45
a, b, c = map(int, input().split())
total = a+b+c
print(total, format(total/3, ".2f"))

1 2 3
6 2.00

In [4]:
#46
a = int(input())
print(a<<1)

10
20

In [5]:
#47 정수 2개(a, b)를 입력받아 a를 2b배 곱한 값으로 출력해보자.
a, b = map(int, input().split())
print(a<<b)

1 3
8

In [7]:
# 48 두 정수(a, b)를 입력받아 a가 b보다 작으면 True 를, a가 b보다 크거나 같으면 False 를 출력하는 프로그램을 작성해보자.
a, b = map(int, input().split())
if a < b:
    print(True)
else:
    print(False)

5 5
False

In [9]:
# 48 이게 더 정답....
a, b = map(int, input().split())
print( a < b )

5 5
False

In [11]:
# 49 두 정수(a, b)를 입력받아 a와 b의 값이 같으면 True 를, 같지 않으면 False 를 출력하는 프로그램을 작성해보자.

a, b = map(int, input().split())
print(a==b)

5 9
False

In [12]:
# 50 두 정수(a, b)를 입력받아 b의 값이 a의 값 보다 크거나 같으면 True 를, 같지 않으면 False 를 출력하는 프로그램을 작성해보자.

a, b = map(int, input().split())
print(b>=a)

5 5
True

In [13]:
# 51 두 정수(a, b)를 입력받아 a의 값이 b의 값과 서로 다르면 True 를, 같으면 False 를 출력하는 프로그램을 작성해보자.

a, b = map(int, input().split())
print( a != b )

5 8
True

In [17]:
# 52 정수가 입력되었을 때, True/False 로 평가해주는 프로그램을 작성해보자.
### 틀렸음
a = int(input())
print(type(a) == int)

7
True

In [19]:
# 52
n = int(input())
print(bool(n))

3
True

In [21]:
# 53 정수값이 입력될 때, 그 불 값을 반대로 출력하는 프로그램을 작성해보자.

n = int(input())
print(not bool(n))

# 다른 풀이
a = bool(int(input()))
print(not a)

6
False
0
True

In [27]:
#54 2개의 정수값이 입력될 때, 그 불 값이 모두 True 일 때에만 True 를 출력하는 프로그램을 작성해보자.

a, b = map(int, input().split())

print(bool(a) and bool(b))

0 4
False

In [29]:
# 55 2개의 정수값이 입력될 때,그 불 값이 하나라도 True 일 때에만 True 를 출력하는 프로그램을 작성해보자

a, b = map(int, input().split())
print(bool(a) or bool(b))

1 0
True

In [3]:
# 56 2개의 정수값이 입력될 때, 그 불 값(True/False) 이 서로 다를 때에만 True 를 출력하는 프로그램을 작성해보자.

a, b = map(int, input().split())
if bool(a) != bool(b):
    print(True)
else:
    print(False)

1 1
False

In [10]:
# 56 정확한 풀이

a, b = input().split()
c = bool(int(a))
d = bool(int(b))
print((c and (not d)) or ((not c) and d))

1 0
True

In [16]:
# 57 2개의 정수값이 입력될 때,그 불 값(True/False) 이 서로 같을 때에만 True 를 출력하는 프로그램을 작성해보자.
# 어려웠던 문제 !!

a, b = input().split()
c = bool(int(a))
d = bool(int(b))
print(c == d)

0 0
True

In [2]:
# 58 2개의 정수값이 입력될 때, 그 불 값(True/False) 이 모두 False 일 때에만 True 를 출력하는 프로그램을 작성해보자.

a, b = input().split()
c = bool(int(a))
d = bool(int(b))
if ((c == False) and (d == False)):
    print(True)
else:
    print(False)

0 0
True

In [4]:
#59 
# 입력 된 정수를 비트단위로 참/거짓을 바꾼 후 정수로 출력해보자. 
# 비트단위(bitwise)연산자 ~ 를 붙이면 된다.(~ : tilde, 틸드라고 읽는다.)

a = int(input())
print(~a)

2
-3

In [5]:
# 60
# 입력된 정수 두 개를 비트단위로 and 연산한 후 그 결과를 정수로 출력해보자.
# 비트단위(bitwise)연산자 &를 사용하면 된다.(and, ampersand, 앰퍼센드라고 읽는다.)

a, b = map(int, input().split())
print(a&b)

3 5
1

In [7]:
# 61
# 입력된 정수 두 개를 비트단위로 or 연산한 후 그 결과를 정수로 출력해보자.
# 비트단위(bitwise) 연산자 |(or, vertical bar, 버티컬바)를 사용하면 된다.

a, b = map(int, input().split())
print(a|b)

3 5
7

In [8]:
# 62
# 입력된 정수 두 개를 비트단위로 xor 연산한 후 그 결과를 정수로 출력해보자.
# 비트단위(bitwise) 연산자 ^(xor, circumflex/caret, 서컴플렉스/카릿)를 사용하면 된다.

a, b = map(int, input().split())
print(a^b)

3 5
6

In [9]:
# 63
# 입력된 두 정수(a, b) 중 큰 값을 출력하는 프로그램을 작성해보자.
# 단, 3항 연산을 사용한다.

a, b = map(int, input().split())
c = (a if (a>=b) else b)
print(int(c))

123 456
456

In [11]:
# 64
# 입력된 세 정수 a, b, c 중 가장 작은 값을 출력하는 프로그램을 작성해보자.
# 단, 3항 연산을 사용한다.

a, b, c = map(int, input().split())
d = (a if (a<=b) else b)
d = (d if (d<=c) else c)
print(d)

# 64 번 가서 3항 연산 제대로 이해하기!!!!!!!!!!!!!

3 -1 5
-1

In [15]:
# 65
# 3개의 정수(a, b, c)가 입력되었을 때, 짝수만 출력해보자.

a, b, c = map(int, input().split())
if a % 2 == 0:
    print(a)
if b % 2 == 0:
    print(b)
if c % 2 == 0:
    print(c)

1 2 4
2
4

In [16]:
# 66
# 3개의 정수(a, b, c)가 입력되었을 때, 짝(even)/홀(odd)을 출력해보자.

a, b, c = map(int, input().split())
if a % 2 == 0:
    print('even')
else:
    print('odd')
if b % 2 == 0:
    print('even')
else:
    print('odd')
if c % 2 == 0:
    print('even')
else:
    print('odd')

1 2 8
odd
even
even

In [20]:
# 67
# 0이 아닌 정수 1개가 입력되었을 때, 음(-)/양(+)과 짝(even)/홀(odd)을 구분해 분류해보자.

a = int(input())
if a<0:
    if a%2 ==0:
        print('A')
    else:
        print('B')
else:
    if a%2 ==0:
        print('C')
    else:
        print('D')

-2147483648
A

In [21]:
# 68
# 점수(정수, 0 ~ 100)를 입력받아 평가를 출력해보자.

#평가 기준
#점수 범위 : 평가
#90 ~ 100 : A
#70 ~   89 : B
#40 ~   69 : C
#0 ~   39 : D

score = int(input())
if score >= 90:
    print('A')
elif score >= 70:
    print('B')
elif score >= 40:
    print('C')
else:
    print('D')

73
B

In [24]:
# 69

message = input()
if message == 'A':
    print('best!!!')
elif message == 'B':
    print('good!!')
elif message == 'C':
    print('run!')
elif message == 'D':
    print('slowly~')
else:
    print('what?')

a
what?

In [30]:
#70 월이 입력될 때 계절 출력, 몫을 이용한 풀이는 신박했다.

a = int(input())
if a // 3 == 1:
    print('spring')
elif a // 3 == 2:
    print('summer')
elif a // 3 ==3:
    print('fall')
elif a in (12, 1, 2):
    print('winter')

10
fall

In [31]:
# 71

while True:
    a = int(input())
    if a == 0:
        break
    else:
        print(a)

7
7
4
4
2
2
3
3
0

In [33]:
# 72 정수(1 ~ 100) 1개가 입력되었을 때 카운트다운을 출력해보자.

a = int(input())
while a!=0:
    print(a)
    a -= 1

5
5
4
3
2
1

In [35]:
# 73 1만큼씩 줄이면서 카운트다운 수가 0이 될 때까지 한 줄에 1개씩 출력한다.

a = int(input())
while a != 0:
    print(a-1)
    a -= 1

5
4
3
2
1
0

In [42]:
ord('b')

98

In [51]:
# 74 영문 소문자(a ~ z) 1개가 입력되었을 때, a부터 그 문자까지의 알파벳을 순서대로 출력해보자.
# 어려웠던 문제...

inputalpha = ord(input())
start = ord('a')
while start <= inputalpha:
    print(chr(start))
    start += 1

d
a
b
c
d

In [53]:
# 75 정수(0 ~ 100) 1개를 입력받아 0부터 그 수까지 순서대로 출력해보자.

inputNum = int(input())
printNum = 0
while printNum <= inputNum :
    print(printNum)
    printNum += 1

5
0
1
2
3
4
5

In [55]:
# 76 정수(0 ~ 100) 1개를 입력받아 0부터 그 수까지 순서대로 출력해보자.

inputNum = int(input())
for i in range(inputNum+1):
    print(i)

5
0
1
2
3
4
5

In [60]:
# 77 정수(1 ~ 100) 1개를 입력받아 1부터 그 수까지 짝수의 합을 구해보자.

inputNum = int(input())
total = 0
for i in range(1, inputNum+1):
    if i % 2 == 0:
        total += i
print(total)

5
6

In [62]:
# 78 영문 소문자 'q'가 입력될 때까지 입력한 문자를 계속 출력하는 프로그램을 작성해보자.

while True:
    k = input()
    print(k)
    if k == 'q':
        break

q
q

In [71]:
# 79 1, 2, 3 ... 을 계속 더해 나갈 때, 그 합이 입력한 정수(0 ~ 1000)보다 같거나 작을 때까지만 계속 더하는 프로그램을 작성해보자.
# 약간 헷갈렸음

ans = int(input())
total = 0
sumNum = 1

while True:
    total += sumNum
    if total >= ans:
        break
    else:
        sumNum += 1
    
print(sumNum)

55
10

In [72]:
#80 1부터 n까지, 1부터 m까지 숫자가 적힌 서로 다른 주사위 2개를 던졌을 때, 나올 수 있는 모든 경우를 출력해보자.

a, b = map(int, input().split())
for i in range(1, a+1):
    for k in range(1, b+1):
        print(i,k)

2 3
1 1
1 2
1 3
2 1
2 2
2 3

In [79]:
# 81 
# A, B, C, D, E, F 중 하나가 입력될 때, 1부터 F까지 곱한 16진수 구구단의 내용을 출력해보자.
# (단, A ~ F 까지만 입력된다.)
# 너무 어렵다..........

a = input()
n = int(a, 16)
for i in range(1, 16):
    print('%X*%X=%X' % (n, i, n*i))

B
B*1=B
B*2=16
B*3=21
B*4=2C
B*5=37
B*6=42
B*7=4D
B*8=58
B*9=63
B*A=6E
B*B=79
B*C=84
B*D=8F
B*E=9A
B*F=A5

In [95]:
# 82

# 내 풀이) 숫자를 str으로 바꿔서 리스트에 3, 6, 9가 있는 만큼 출력

k = int(input())
for i in range(1, k+1):
    countX = 0
    stri = str(i)
    
    for eachi in stri:
        if eachi in ('3', '6', '9'):
            countX += 1
    
    if countX == 0:
        print(i)
    else:
        print('X'*countX)

9
1
2
X
4
5
X
7
8
X

In [99]:
# 83

r, g, b = map(int, input().split())

for R in range(r):
    for G in range(g):
        for B in range(b):
            print('%i %i %i' % (R, G, B))

print(r*g*b)

2 2 2
0 0 0
0 0 1
0 1 0
0 1 1
1 0 0
1 0 1
1 1 0
1 1 1
8

In [102]:
# 84

h, b, c, s = map(int, input().split())
bit = h*b*c*s
MB = bit/8/1024/1024
print('%.1f MB' % MB)

44100 16 2 10
1.7 MB

In [103]:
# 85
# bit -> byte(/8) -> KB (/1024) -> MB (/1024) -> GM (/1024)

w, h, b = map(int, input().split())
bit = w*h*b
MB = bit/8/1024/1024
print('%.2f MB' % MB)

1024 768 24
2.25 MB

In [104]:
# 86

# 1, 2, 3 ... 을 계속 더해 나갈 때, 1, 2, 3, 4, 5 ... 순서대로 계속 더해가다가, 
# 그 합이 입력된 정수보다 커지거나 같아지는 경우, 그때까지의 합을 출력한다.

ans = int(input())
total = 0
sumNum = 1

while True:
    total += sumNum
    if total >= ans:
        break
    else:
        sumNum += 1
    
print(total)

57
66

In [109]:
# 87
# 1부터 입력한 정수까지 1씩 증가시켜 출력하는 프로그램을 작성하되,3의 배수인 경우는 출력하지 않도록 만들어보자.

final = int(input())
num = 0
while num <= final:
    if num % 3 != 0:
        print(num, end=' ')
    num += 1

10
1 2 4 5 7 8 10

In [114]:
# 88 등차수열

a, d, n = map(int, input().split())
numlist = []
while len(numlist) != n:
    numlist.append(a)
    a += d
print(numlist[n-1])

1 3 9
25

In [119]:
# 88 등차수열

a, d, n = map(int, input().split())
for i in range(n-1):
    a += d
print(a)

1 3 9
25

In [115]:
# 89 등비수열

a, r, n = map(int, input().split())
numlist = []
while len(numlist) != n:
    numlist.append(a)
    a = a*r
print(numlist[n-1])

2 3 7
1458

In [117]:
# 89 등비수열

a, r, n = map(int, input().split())
for i in range(n-1):
    a = a*r
print(a)

2 3 7
1458

In [121]:
# 90

a, m, d, n = map(int, input().split())

for i in range(n-1):
    a = a*m+d

print(a)

1 -2 1 8
-85

In [123]:
# 91
# 같은 날 동시에 가입한 인원 3명이 규칙적으로 방문하는, 방문 주기가 공백을 두고 입력된다. (단, 입력값은 100이하의 자연수이다.)
# 중요한듯 !!!!

a, b, c = map(int, input().split())
d = 1
while (d%a!=0) or (d%b!=0) or (d%c!=0) :
    d += 1
print(d)

2 4 8
8

In [127]:
# 92

# 첫 번째 줄에 출석 번호를 부른 횟수인 정수 n이 입력된다. (1 ~ 10000)
# 두 번째 줄에는 무작위로 부른 n개의 번호(1 ~ 23)가 공백을 두고 순서대로 입력된다.
# 1번부터 번호가 불린 횟수를 순서대로 공백으로 구분하여 한 줄로 출력한다.
# 공부 지대로 하자!!!

n = int(input())
a = input().split()

for i in range(n):
    a[i] = int(a[i])

d = []
for i in range(24):
    d.append(0)

for i in range(n):
    d[a[i]] += 1

for i in range(1, 24):
    print(d[i], end=' ')
    
# 애초에 d[0] 있으나 짜르고 d[1]부터 출력하는 것

10
1 3 2 2 5 6 7 4 5 23
0 1 2 1 1 2 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1

In [130]:
# 93
n = int(input())
a = input().split()
for i in range(1, n+1):
    print(a[-i], end=' ')

10
10 4 2 3 6 6 7 9 8 5
5 8 9 7 6 6 3 2 4 10

In [133]:
# 94

n = int(input())
a = input().split()

for i in range(n):
    a[i] = int(a[i])

print(min(a))

10
10 4 2 3 6 6 7 9 -3 -5
-5

In [2]:
# 95
# 바둑판에 올려 놓을 흰 돌의 개수(n)가 첫 줄에 입력된다.
# 둘째 줄 부터 n+1 번째 줄까지 힌 돌을 놓을 좌표(x, y)가 n줄 입력된다.
# n은 10이하의 자연수이고 x, y 좌표는 1 ~ 19 까지이며, 똑같은 좌표는 입력되지 않는다.
# 답 배낌


d = []
for i in range(20) :
    d.append([])         #리스트 안에 다른 리스트 추가해 넣기
    for j in range(20) : 
        d[i].append(0)    #리스트 안에 들어있는 리스트 안에 0 추가해 넣기

n = int(input())
for i in range(n):
    x, y = map(int, input().split())
    d[x][y] = 1

for i in range(1, 20) :
    for j in range(1, 20) : 
        print(d[i][j], end=' ')    #공백을 두고 한 줄로 출력
    print()                          #줄 바꿈

5
1 1
2 2
3 3
4 4
5 5
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [ ]:
# 96

d = []
for i in range(19):
    eachline = input().split()
    d.append(eachline)

n = int(input())
for i in range(n):
    x, y = map(int, input().split())

    for k in range(19):
        if d[k][y-1] == '0':
            d[k][y-1] = '1'
        else:
            d[k][y-1] = '0'

        if d[x-1][k] == '0':
            d[x-1][k] = '1'
        else:
            d[x-1][k] = '0'

for i in range(19):
    for j in range(19):
        print(d[i][j], end=' ')
    print()

In [6]:
h, w = map(int, input().split())

d = []
for i in range(h):
    d.append([])
    for j in range(w):
        d[i].append(0)

print(d)

2 2
[[0, 0], [0, 0]]

In [ ]:
# 97
h, w = map(int, input().split())

numlist = []
for i in range(h):
    numlist.append([])
    for j in range(w):
        numlist[i].append(0)

n = int(input())
for i in range(n):
    l, d, x, y = map(int, input().split())
    if d == 0: 
        for k in range(l):
            numlist[x-1][y-1] = 1
            y += 1
    elif d == 1: 
        for k in range(l):
            numlist[x-1][y-1] = 1
            x += 1

for i in range(h):
    for j in range(w):
        print(numlist[i][j], end=' ')
    print()

In [ ]:
d = []
for i in range(10):
    eachline = input().split()
    eachline = list(map(int, eachline))
    d.append(eachline)


print(d)

In [ ]:
# 98

d = []
for i in range(10):
    eachline = input().split()
    eachline = list(map(int, eachline)) # 공부하자 !!
    d.append(eachline)

x, y = 1, 1
d[x][y] = 9
    
while (d[x][y+1] != 2) and (d[x+1][y] != 2):
    if d[x][y+1] == 0:
        d[x][y+1] = 9
        y += 1
    elif d[x][y+1] == 1:
        d[x+1][y] = 9 
        x += 1
    
    if (x == 8) and (y == 8):
        break

if d[x][y+1] == 2:
    d[x][y+1] = 9
elif d[x+1][y] == 2:
    d[x+1][y] = 9


for i in range(10):
    for j in range(10):
        print(d[i][j], end=' ')
    print()

In [ ]:
# 98 이게 정답이다!

d = []
for i in range(10):
    eachline = input().split()
    eachline = list(map(int, eachline)) # 공부하자 !!
    d.append(eachline)

x, y = 1, 1
d[x][y] = 9
    
while True:
    if d[x][y+1] == 0:
        d[x][y+1] = 9
        y += 1
    elif d[x][y+1] == 1:
        if d[x+1][y] == 2:
            d[x+1][y] = 9
            break
        else:
            d[x+1][y] = 9
            x += 1
    elif d[x][y+1] == 2:
        d[x][y+1] = 9
        break
    
    if (x == 8) and (y == 8):
        break

for i in range(10):
    for j in range(10):
        print(d[i][j], end=' ')
    print()